<!-- навигация -->
<!-- <ng-container *ngIf="calendarViewModel">

</ng-container> -->
<button class="btn-event" (click)="openModal()" [disabled]="!this.calendarViewModel.dayIsClicked" >Создать</button>
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary btn-left"
        mwlCalendarPreviousView
        [view]="this.calendarViewModel.view"
        [(viewDate)]="this.calendarViewModel.viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary btn-left"
        mwlCalendarToday
        [(viewDate)]="this.calendarViewModel.viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary btn-left"
        mwlCalendarNextView
        [view]="this.calendarViewModel.view"
        [(viewDate)]="this.calendarViewModel.viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ this.calendarViewModel.viewDate | calendarDate:(this.calendarViewModel.view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary btn-right"
        (click)="setView(this.calendarViewModel.calendarView.Month)"
        [class.active]="this.calendarViewModel.view === this.calendarViewModel.calendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-primary btn-right"
        (click)="setView(this.calendarViewModel.calendarView.Week)"
        [class.active]="this.calendarViewModel.view === this.calendarViewModel.calendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-primary btn-right"
        (click)="setView(this.calendarViewModel.calendarView.Day)"
        [class.active]="this.calendarViewModel.view === this.calendarViewModel.calendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>

<!-- Вынести в отдельный компонет! -->
<ng-container *ngIf="calendarViewModel.events$ | async as e">
  <div [ngSwitch]="this.calendarViewModel.view">
    <mwl-calendar-month-view
      *ngSwitchCase="this.calendarViewModel.calendarView.Month"
      [viewDate]="this.calendarViewModel.viewDate"
      [events]="e"
      [activeDayIsOpen]="this.calendarViewModel.activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="eventClicked($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="this.calendarViewModel.calendarView.Week"
      [viewDate]="this.calendarViewModel.viewDate"
      [events]="e"
      (eventClicked)="eventClicked($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="this.calendarViewModel.calendarView.Day"
      [viewDate]="this.calendarViewModel.viewDate"
      [events]="e"
      (eventClicked)="eventClicked($event)"
    >
    </mwl-calendar-day-view>
  </div>
</ng-container>

<app-form-dialog *ngIf="this.calendarViewModel.modalIsOpen" (closeModalEvent)="closeModal()">
  <app-form (submitEvent)="onSubmit($event)"></app-form>
</app-form-dialog>

<app-event-dialog
  [members]="this.calendarViewModel.currentMembers"
  [title]="this.calendarViewModel.currentTitle"
  [isEventDialogOpen]="this.calendarViewModel.eventDialogIsOpen"
  (isEventDialogClose)="closeEventDialog()"
>
</app-event-dialog>


