<form class="form" [formGroup]="eventForm">
  <div class="form__group">
    <label for="eventTitle">Название мероприятия:</label>
    <div
      class="error-message"
      *ngIf="eventForm.get('eventTitle')?.touched && eventForm.get('eventTitle')?.errors?['required'] : null">
      Обязательное поле*
    </div>
    <input id="eventTitle" type="text" [formControlName]="'eventTitle'">
  </div>
  <div class="form__group">
    <label for="eventStart">Участники:</label>
    <div
      class="error-message"
      *ngIf="eventForm.get('eventMembers')?.touched && eventForm.get('eventMembers')?.errors?['required'] : null">
      Обязательное поле*
    </div>
    <app-select id="eventStart" [employees]="employees" [formControlName]="'eventMembers'" [multiple]="true"></app-select>
  </div>
  <div class="form__group form__time">
    <div class="form__group-time">
      <label for="eventStart">Время начала:</label>
      <select [formControlName]="'eventStart'" id="eventStart">
        <option *ngFor="let hour of startHours" [value]="hour">{{hour}}:00</option>
      </select>
      <div
        class="error-message"
        *ngIf="eventForm.get('eventStart')?.touched && eventForm.get('eventStart')?.errors?['required'] : null">
        Обязательное поле*
      </div>
    </div>
    <div class="form__group-time">
    <label for="eventEnd">Время окончания:</label>
      <select [formControlName]="'eventEnd'" id="eventEnd">
        <option *ngFor="let hour of endHours" [value]="hour">{{hour}}:00</option>
      </select>
      <div
        class="error-message"
        *ngIf="eventForm.get('eventStart')?.touched && eventForm.get('eventEnd')?.touched && eventForm.hasError('startGreaterThanEnd')">
        Время окончания не может быть меньше или равно времени начала
      </div>
      <div
        class="error-message"
        *ngIf="eventForm.get('eventEnd')?.touched && eventForm.get('eventEnd')?.errors?['required'] : null">
        Обязательное поле*
      </div>
      </div>
    </div>
  <button (click)="onSubmit()" [disabled]="eventForm.invalid">Создать</button>
</form>
