<div class="modal">
  <div class="modal-header">
    <h3>{{ title }}</h3>
    <button type="button" class="close" (click)="cancel()">&times;</button>
  </div>
  <div class="modal-body">
    <div class="modal-body__owner">
      <h3>Организатор:</h3>
      {{owner.name}} {{owner.surname}}
    </div>
    <div class="modal-body__users">
      <h3>Список участников:</h3>
      <ul class="modal-list">
        <li *ngFor="let member of members" class="modal-item">
          {{member.name}} {{member.surname}}
        </li>
      </ul>
    </div>
  </div>

</div>
