.page__title {
  display: flex;
  align-items: center;
  padding: 47px 26px;
}

.title {
  font-weight: 500;
  font-size: 32px;
  margin-left: 15px;
}

.page {
  background-color: #d7d7d7;
  display: flex;
}

.page__container {
  width: 100%;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.page__title {
  background-color: white;
}

.page__content {
  margin-top: 20px;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: white;
  padding: 26px;
}
