.dialog {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  right: 0;
  top: 0;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0%);
}

.dialog-hidden {
  transform: translateX(120%);
}

.dialog__close {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.dialog__close-line {
  position: absolute;
  width: 100%;
  top: 50%;
  height: 3px;
  background-color: black;
}

.dialog__close-line:nth-child(1) {
  transform: rotate(-45deg);
}

.dialog__close-line:nth-child(2) {
  transform: rotate(45deg);
}

.dialog__container {
  margin: 30px;
}

.dialog__title {
  margin-top: 50px;
  margin-bottom: 30px;
}
