<div class="employee">
  <button class="edit" (click)="onCreateModal()" *ngIf="isAdmin">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 43.161 43.161" xml:space="preserve" width="30px" height="30px" fill="#000000">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <g><g><path style="fill:#010002;" d="M39.306,6.606H3.854C1.728,6.606,0,8.335,0,10.46v22.241c0,2.126,1.729,3.854,3.854,3.854h35.452 c2.127,0,3.855-1.729,3.855-3.854V10.46C43.161,8.334,41.433,6.606,39.306,6.606z M39.199,32.591H3.962V10.57h35.236v22.021 H39.199z"></path>
            <rect x="8.909" y="25.247" style="fill:#010002;" width="3.621" height="3.619"></rect>
            <rect x="16.15" y="25.247" style="fill:#010002;" width="3.62" height="3.619"></rect>
            <rect x="23.39" y="25.247" style="fill:#010002;" width="3.62" height="3.619"></rect>
            <rect x="30.63" y="25.247" style="fill:#010002;" width="3.62" height="3.619"></rect></g></g></g>
    </svg>
  </button>
  <img src="https://cdn-icons-png.flaticon.com/512/1869/1869679.png" alt="Сотрудник" class="employee__img">
  <h2 class="employee__name">
    {{employee.name}} {{employee.surname}}
  </h2>

  <p class="employee__age">
    <span>Возраст:</span> {{employee.age}}
  </p>
  <p class="employee__profession">
    <span>Должность:</span> {{employee.profession}}
  </p>
  <p class="employee__salary">
    <span>Зарплата:</span> {{employee.salary}}$
  </p>
  <p class="employee__department">
    <span>Отдел:</span> {{employee.department}}
  </p>
</div>
