<div class="container">
  <div class="container__form">
    <div class="role__container">
      <div (click)="switchRole()" class="role role__employee" [ngClass]="{'active-role': !isEmployeeRole}">
        Сотрудник
      </div>
      <div (click)="switchRole()" class="role role__admin" [ngClass]="{'active-role': !isAdminRole}">
        Администратор
      </div>
    </div>
    <h2 class="title">Авторизация</h2>
    <app-login-employee-form *ngIf="isEmployeeRole"></app-login-employee-form>
    <app-login-admin-form *ngIf="isAdminRole"></app-login-admin-form>
  </div>
</div>
