<div class="dialog" [ngClass]="{'dialog-hidden': !isEventDialogOpen}">
  <div class="dialog__container">
    <div class="dialog__close" (click)="closeDialog()">
      <span class="dialog__close-line"></span>
      <span class="dialog__close-line"></span>
    </div>

    <h2 class="dialog__title">
      {{title}}
    </h2>
    <span class="dialog__members">
      Список участников:
    </span>
    <ul class="members__list">
      <li class="members__item" *ngFor="let member of members">{{member}}</li>
    </ul>
  </div>
</div>
