.form {
  display: flex;
  flex-direction: column;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__group {
  margin-bottom: 20px;
}

input,
select {
  height: 25px;
  border: 1px solid #2B4A52;
}

button {
  padding: 10px 0;
  background-color: #2B4A52;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
