<form [formGroup]="newEmployeeForm">
  <div class="form__name">
    <div class="form__group">
      <label for="name">Имя:</label>
      <input type="text" id="name" [formControlName]="'name'" placeholder="Введите имя">
    </div>
    <div class="form__group">
      <label for="surname">Фамилия:</label>
      <input type="text" id="surname" [formControlName]="'surname'" placeholder="Введите фамилию">
    </div>
  </div>
  <div class="form__group">
    <label for="age">Возраст:</label>
    <input type="number" id="age" [formControlName]="'age'" placeholder="Введите возраст">
  </div>
  <div class="form__group">
    <label for="post">Должность:</label>
    <select id="post" [formControlName]="'profession'">
      <option selected>Программист</option>
      <option>Тестировщик</option>
      <option>Аналитик</option>
      <option>Менеджер</option>
    </select>
  </div>
  <div class="form__group">
    <label for="department">Отдел:</label>
    <select id="department" [formControlName]="'department'">
      <option>Отдел 1</option>
      <option>Отдел 2</option>
      <option>Отдел 3</option>
    </select>
  </div>
  <div class="form__group">
    <label for="salary">Зарплата:</label>
    <input type="number" id="salary" [formControlName]="'salary'" placeholder="Введите зарплату">
  </div>
  <button (click)="onSubmit()">Отправить</button>
</form>
