<ng-container *ngIf="employees$ | async as employees">
  <div class="container">
    <div class="sort">
      <div class="sort__header">
        <span>Сортировать по:</span>
        <button class="new-emp">
          Добавить
        </button>
      </div>
      <div class="buttons__container">
        <button class="sort-btn" (click)="sortByName()">По имени</button>
        <button class="sort-btn" (click)="sortByDepartment()">По отделу</button>
        <button class="sort-btn" (click)="sortByProfession()">По должности</button>
      </div>
    </div>
    <div class="employee__container">
      <app-employee *ngFor="let emp of employees" [employee]="emp">

      </app-employee>
    </div>
  </div>
</ng-container>
