<ng-container *ngIf="employees$ | async as employees">
  <div class="container">
    <div class="sort">
      <div class="sort__header">
        <span>Сортировать по:</span>
        <button class="new-emp" *ngIf="isAdmin" (click)="onCreateModal()">
          Добавить
        </button>
      </div>
      <div class="buttons__container">
        <button class="sort-btn" (click)="sortByName(employees)">По имени</button>
        <button class="sort-btn" (click)="sortByDepartment(employees)">По отделу</button>
        <button class="sort-btn" (click)="sortByProfession(employees)">По должности</button>
      </div>
    </div>
    <div class="employee__container">
      <app-employee *ngFor="let emp of employees" [employee]="emp">
      </app-employee>
    </div>
  </div>
</ng-container>
