.container {
  background: linear-gradient(to left bottom, #537173, #537173, #537173, #537173, #537173, #5e797d, #698187, #748990, #8e9ba3, #a8aeb5, #c1c2c6, #d7d7d7);
}

.container__form {
  padding: 30px;
  padding-top: 60px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}



.title {
  align-self: center;
  margin-bottom: 30px;
  font-weight: 500;
}

.role__container {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  top: 0;
  left: 0;
}

.role {
  width: 50%;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.role__admin {
  border-top-right-radius: 6px;
}

.role__employee {
  border-top-left-radius: 6px;
}

.active-role {
  background-color: #c4c4c4;
  box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
