<form class="form" [formGroup]="eventForm">
  <div class="form__group">
    <label for="eventTitle">Название мероприятия:</label>
    <input id="eventTitle" type="text" [formControlName]="'eventTitle'">
  </div>
  <div class="form__group">
    <label for="eventStart">Участники:</label>
    <app-select [formControlName]="'eventMembers'"></app-select>
  </div>
  <div class="form__group">
    <label for="eventDuration">Продолжительность:</label>
    <input id="eventDuration" type="number" [formControlName]="'eventDuration'">
  </div>
  <button (click)="onSubmit()">Создать</button>
</form>
